@model EditPasswordProfileViewModel

<div class="col-sm-2">
    <button type="button" class="btn btn-success" data-toggle='modal' data-target='#editPasswordModal' onclick="editPasswordPrompt()">Edit Password</button>
</div>

<div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog" aria-labelledby="view-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-custom ml-9 mr-auto text-black" id="editPasswordHead">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="editPasswordBody">
                <div class="wrapper">
                    <label>What is your current password?</label>
                    <input type="text" class="search-input form-control" id="passwordName" placeholder="Current Password" onkeyup="projectValidation()">
                    <div class="autocom-box"></div>
                </div>

                <div class="wrapper">
                    <label>Password Update:</label>
                    <input type="text" class="search-input form-control" id="newpasswordName" placeholder="New Password" onkeyup="passwordValidation()">
                </div>

                <div class="wrapper">
                    <label>Confirm Password Update:</label>
                    <input type="text" class="search-input form-control" id="confirmpasswordName" placeholder="Confirm New Password" onkeyup="passwordValidation()">
                </div>
            </div>

            <div class="password-modal-footer" id="editPasswordFooter">
                <button class="btn btn-success" type="button" id="savePasswordBtn" onclick="postRequest()" data-toggle='modal' data-target='#passwordModal'>Update Password</button>
            </div>
        </div>
    </div>
</div>