@model RegisterViewModel

<link rel="stylesheet" href="~/css/register.css" />
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
 <div class = "container">
    <div class="columns is-vcentered">
         <div class="column">
            <img src="~/img//otal_light.png">
         </div>
         <div class="column">
            <div class="card-body">
                <h2 class="is-size-1 has-text-centered has-text-weight-bold">
                    Sign up
                </h2>
                <form class="rows" method='post' asp-action="Register">
                   <div class="field">
                        <label class="label">
                            First name    
                        </label>
                        <div class="control">
                                <input type="text" class="input" asp-for="Forename" placeholder="First name" autofocus>
                                <span asp-validation-for="Forename"></span>
                       </div>
                   </div>
                   <div class="field">
                        <label class="label">
                            Last Name   
                        </label>
                        <div class="control"> 
                            <input type="text" class="input" asp-for="Surname" placeholder="Last name">
                            <span asp-validation-for="Surname"></span>
                        </div>
                   </div>
                     <div class="field">
                        <label class="label">
                            Username  
                        </label>
                        <div class="control"> 
                        <input type="text" class="input" asp-for="Username" placeholder="Username">
                        <span asp-validation-for="Username"></span>
                        </div>
                    </div>
                     <div class="field">
                        <label class="label">
                          Password  
                        </label>
                        <div class="control"> 
                                <input type="password" class="input" asp-for="Password" placeholder="Password">
                                <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                     <div class="field">
                        <label class="label">
                          Confirm Password  
                        </label>
                          <input type="password" class="input" asp-for="ConfirmPassword" placeholder="Confirm password">
                          <span asp-validation-for="ConfirmPassword"></span>
                        </div>
             
                        <button type="submit" class="button is-medium is-fullwidth is-success">
                            Register
                        </button> 
                        <div class="has-text-centered">
                            <a class="is-size-4"  asp-action="Login has-text-weight-bold">Already Registered? Login here!</a>
                        </div>
      
                   </form>
              </div>
         </div>
      </div>
      </div>   
</main>

@section scripts
{
    <script src="~/js/register.js"></script>
}