@model createProjectViewModel

<div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="view-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title modal-title-custom ml-9 mr-auto text-black" id="createProjectHead">Create Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="createProjectBody">
                <div class="wrapper">
                    <label>Project name:</label>
                    <input type="text" class="search-input form-control" id="projectName" onkeyup="projectValidation()">
                </div>
                <div class="wrapper">
                    <label>Status:</label>
                    <select id="projectStatus" class="form-control" onchange="projectValidation()" required="">
                        <option value="0" disabled=""></option>
                        <option value="Back-log">Back-log</option>
                        <option value="Development">Development</option>
                        <option value="QA">QA</option>
                        <option value="Releasing">Releasing</option>
                        <option value="Released">Released</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer" id="createProjectFooter">
                <button type="button" class="btn btn-success" id="createProjectBtn">Save Project</button>
            </div>
        </div>
    </div>
</div>