#otal_logo {
    width: 100%;
}

h2.register-header {
    text-align: center;
    font-size:40px;
}

div.form-group {
    text-align: center;
}

#register_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 240px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 10px;
    cursor: pointer;
}

.form-control {
    width: 550px;
    font-size: 20px;
    margin: 10px 10px;
}

#already_registered {
    font-size: 20px;
}

#sign_up {
    font-weight: bold;
}


