<hr>
<div class="level">
    <div class="level-left">
        <div class="level-item">
            <p class="mr-3">Lmaoo</p>
            <span class="tag is-rounded mx-3">In-progress</span>
            <span class="tag is-rounded is-success ml-3">Owner</span>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <span><button class="button is-warning is-small is-rounded">Edit</button></span>
        </div>
    </div>
</div>

<hr>

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <p class="mr-3">Messaging-API</p>
            <span class="tag is-rounded mx-3">In-progress</span>
            <span class="tag is-rounded is-danger ml-3">Manager</span>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <span><button class="button is-warning is-small is-rounded">Edit</button></span>
        </div>
    </div>
</div>