@model AdminViewModel

<<div class="container d-flex justify-content-center">
    <form class="form-inline my-2 my-lg-0">
        <input id="adminSearchBar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>

    <form method="post" asp-action="IsActiveSelect">
        <select asp-for="IsActiveSelect" id="adminSelect" class="form-control w-auto">
        <option value="true" selected>Active</option>
        <option value="false">Inactive</option>
        </select>
    </form>
</div>

@*<input type="text" asp-for="GetUserByIsActive" id="activeUserToggle" hidden>*@
<div class="container pt-4" id="adminContainer">
    <table class="table table-hover" id="admin-table">
        <tr>
            <th>Username</th>
            <th>Forename</th>
            <th>Surname</th>
            <th>Level</th>
            <th>Action</th>
        </tr>
    </table>
</div>

@section scripts 
{
    <script src="~/js/admin.js"></script> 
}