@{
    var error = TempData["Error"] as string;
    var message = TempData["Message"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Otal Lmaoo</title>
    <link rel="stylesheet href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
          asp-fallback-href="~/lib/bulma/bulma.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <partial name="_Navbar" />
    </header>
    @if (!string.IsNullOrEmpty(error))
    {
        <div class="alert alert-warning" role="alert">@error</div>
    }

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-success" role="alert">@message</div>
    }

    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Otal.lmaoo.Web
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>