@using System.Security.Claims
@using Otal.lmaoo.Core.Enums
@using Otal.lmaoo.Core.Extensions

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">OTAL Lmaoo</a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="">Home</a>

      @if (User.Identity.IsAuthenticated && User.Identity.GetRoleAsInteger() > 1)
      {
        <a class='navbar-item' asp-controller="Project" asp-action="Index">Project</a>
      }

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
       <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Account</a>

        <div class="navbar-dropdown">
            @if (!User.Identity.IsAuthenticated) 
            {
                <a class="navbar-item" asp-controller="User" asp-action="Login">Login</a>
                <a class="navbar-item" asp-controller="User" asp-action="Register">Register</a>
            }
            else
            {
                if (User.Identity.GetRoleAsInteger() > 2)
                {
                    <a class='navbar-item' asp-controller="Admin" asp-action="Index">Admin</a>
                }

                <a class="navbar-item" asp-controller="User" asp-action="Profile">Edit Account</a>
                <a class="navbar-item" asp-controller="User" asp-action="Logout">Logout</a>
            }
        </div>
      </div>
      </div>
    </div>
  </div>
</nav>